<!--  <h2><form [formGroup]="excelForm" *ngIf="itemsForm.value.tv" (ngSubmit)="addExcelData()">


  Dodaj excel datoteko za graf
</h2>
<input type="file" (change)="excel($event)" multiple="false" />
Ime grafa
<input type="text" formControlName="name">
<select  formControlName="graph_type" >
  <option   value="ColumnChart">Stolpčni</option>
  <option value="BarChart">Vrstični</option>
  <option value="LineChart">Črtni</option>
</select>
<button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Naloži <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
{{message}}
</form>-->
<h1>Dodajanje in urejanje posamičnih slidov</h1>

<h2 *ngIf="itemsForm.value.tv">Dodaj slikovni, video, pdf slide,html</h2>
<form [formGroup]="form" *ngIf="itemsForm.value.tv" (ngSubmit)="onSubmit()">
  
    <div class="form-group">
     
    
      <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
      <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Naloži <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
      <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">Pobrisi datoteko</button>
    </div>
    
    <ng-container *ngIf="uspeh">Uspešno naloženo</ng-container>
    <ng-container *ngIf="napaka">Napaka </ng-container>
  </form>
  
  <h2 *ngIf="itemsForm.value.tv">Dodaj besedilni slide</h2>
  <form [formGroup]="uploadTextForm" *ngIf="itemsForm.value.tv" (ngSubmit)="addText()">
  Naslov  <input type="text" formControlName="naslov">
  Vsebina  <input type="text" formControlName="vsebina">
  <button type="submit" class="btn btn-success" >Dodaj</button>
  </form>
 
  <form [formGroup]="itemsForm" (keydown.enter)="$event.preventDefault()">
    <h3 *ngIf="!itemsForm.value.tv">Izberi TV za urejanje</h3>
   
      <ul > <select  formControlName="tv" (change)="izbranitv()">
          <option *ngFor="let tv of tvs;let i=index"   [value]="tv.id">{{tv.name}} {{tv.id}} </option>
        </select>
        <a *ngIf="itemsForm.value.tv" routerLink='/home/{{itemsForm.value.tv}}'>Povezava za TV </a>
      
<ng-container *ngFor="let item of items">
          <li [ngClass]="{'vidno' : item.active==1,'nevidno' : item.active==0,'asd':ifactive==item.id}" >
            
           Ime: {{item.name |  slice:0:50}} ,<span class="test"> <button (click)="showOtherTV(item)" >Dodaj določenim</button> 
           
          </span>
           <span class="test" >trajanje: {{item.duration/1000}}s,<button (click)="updateItemDur(item.id,'+',item.duration)" class="btn btn-success">+</button><button (click)="updateItemDur(item.id,'-',item.duration)" class="btn btn-success">-</button> Vrstni red:{{item.ord}} <button (click)="showhideImg(item)" class="btn btn-success">Prikazi/skrij</button><button (click)="deleteImg(item.id,item.name,item.type)" class="btn btn-success">zbrisi</button><button (click)="updateImgRed(item.id,'+')" class="btn btn-success">+</button><button (click)="updateImgRed(item.id,'-')" class="btn btn-success">-</button></span>
          </li></ng-container>
      </ul>
     
      <select formControlName="multipleTV"  multiple *ngIf="multipleselect">
        <ng-container *ngFor="let tv of tvs;let i=index">
        
          <option  *ngIf="tv.id!=multipleselect"  [value]="tv.id">{{tv.name}} {{tv.id}} </option>
        </ng-container>
          
        </select>
        <button  *ngIf="itemsForm.value.multipleTV && multipleselect" (click)="addToMultipleTV()">Dodaj </button>
    </form>
 
<h3>Dodaj TV</h3>
  <form [formGroup]="tvsForm">
Ime naprave:<input formControlName="name" type="text">
Lokacija:<input formControlName="location" type="text">
<button class="form-control" (click)="addTVs()" class="btn btn-success" type="submit" >Dodaj</button>


<ul >
<ng-container *ngFor="let tv of tvs">
  <li >
    
   Ime: {{tv.name}} ,Lokacija: {{tv.location}}, Število slidov na TV: {{tv.numOfSlides}}<button (click)="deleteTV(tv.id)" class="btn btn-success">zbrisi</button> <button (click)="editTV(tv)">uredi</button>
  </li></ng-container>
</ul>
<form [formGroup]="tvsForm" *ngIf="editTv">
    Ime naprave:<input formControlName="name" value="{{currTVname}}" type="text">
    Lokacija:<input formControlName="location" value="{{currTVlocation}}" type="text">
    <button class="form-control" (click)="editTVs(tvid)" class="btn btn-success" type="submit" >Dodaj</button>


    </form>
 <button routerLink="/home">Domov</button>
 <button (click)="logout()">Odjava</button>