<head>
 <!-- <meta http-equiv="refresh" content="15">-->
 
</head>

<div class="container" id="test">
  <ng-container *ngIf="tvid!='all' && data" >
         <mdb-carousel  class="haha" (activeSlideChange)="change(asd)"  #asd [isControls]="false"  [interval]="data[0]?.dur" [noPause]="1" >
           
              <!--<mdb-carousel-item >
                  <video #video  class="video-fluid" (play)="play()" (ended)="end()"  onloadedmetadata="this.muted=true" autoplay >
                <source [src]="apiurl+'video/test.mp4'" type="video/mp4" />
              </video>
                </mdb-carousel-item>-->
                        <mdb-carousel-item #troll id="test"  *ngFor="let slika of data;let i=index" >
                          
                                 
                                    <img *ngIf="slika.type=='image'"  class="slika" [src]="'data:image/jpg;base64,'+slika.slika" alt="Second slide" >
                                  
                                        <video controls *ngIf="slika.type=='video' && i!=0" id="{{i}}" #video class="video-fluid" (play)="play()" (ended)="end(video)"   oncanplay="this.muted=true"  >
                                            <source [src]="apiurl+'video/'+slika.name" type="video/mp4" />
                                          </video>
                                          <video controls *ngIf="slika.type=='video'&& i==0" id="{{i}}" #video class="video-fluid" (play)="play()" (ended)="end(video)"    oncanplay="this.muted=true"  autoplay   >
                                            <source [src]="apiurl+'video/'+slika.name" type="video/mp4" />
                                          </video>
                                          <div class="iframe" *ngIf="slika.type=='html'">
                                            <iframe scrolling="no" height="800px" align="middle" [src]="'./assets/'+slika.name | safe" > </iframe>
                                          </div>
                                         
                            
                                      <simple-pdf-viewer #pdfViewer removePageBorders=1 *ngIf="slika.type=='pdf'" [src]="'data:application/pdf;base64,'+slika.slika"></simple-pdf-viewer>
                                      <div *ngIf="slika.type=='text'" class="textdiv"><h1>{{slika.naslov}}</h1><p>{{slika.vsebina}}</p></div>
                                    

                                     
                              
                              
                              </mdb-carousel-item>
                                    
                                    
      </mdb-carousel>
   
    </ng-container>

</div>
<div *ngIf="tvid=='all'">
    <ng-container *ngFor="let tv of tvs">
      <ul>
        <li >
          
         Ime: {{tv.name}} , Število slidov na TV: {{tv.numOfSlides}}
        </li>
      </ul>
      </ng-container>
      
         
       <button routerLink="/dodaj">Urejanje TV</button>
  
</div>