.slika{
    height: 100%;
     width: 100%; 
     object-fit: contain;

}
.textdiv {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-size: 100px;
   
    text-align: center
  }
  .textdiv h1 {
  font-size: 100px;
  }
  .textdiv p {
    font-size: 70px;
    }
  .pdfViewerContainer{
      overflow: hidden ;
      border: 0px;
  }
 